$dark-blue: #112F41;

$light-red: #ED553B;

$dark-green: #427F00;

$light-purple: #5F62E8;

$light-blue: #75B9FF;

$monokai-blue: #66d9F0;

$grey: #7F8489;

$dark-grey: #303030;

$light-grey: #CCCCCC;
