.container {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 15vh 35vh auto;
  grid-template-areas:
    'info'
    'pics'
    'main';

  width: 100vw;
  background: linear-gradient(#45caff, #ff1b6b);

  .info {
    grid-area: info;
    display: flex;
    align-items: center;
    justify-content: center;

    .name {
      font-size: 48px;
      font-family: 'Trade Winds';
      color: #ffffff;
      transform: rotate(-6deg);
    }
  }

  .pics {
    display: flex;
    align-items: center;
    justify-content: center;

    .pic {
      height: 64%;
      width: 78%;
      border: 18px solid #ffffff;
      transform: rotate(6deg);
    }
  }

  .main {
    grid-area: main;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%;

    .bio {
      background-color: rgb(22, 20, 20, 0.38);
      height: 96%;
      width: 88%;
      border-radius: 14px;
      padding: 12px;

      .bioParagraph {
        font-family: 'Source Code Pro';
        font-size: 14px;
        line-height: 1.8rem;
        color: #ffffff;
        margin-bottom: 12px;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .container {
    display: grid;
    height: 100vh;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 50vh auto;
    grid-template-areas:
      'info pics'
      'main main';

    .info {
      .name {
        font-size: 72px;
      }
    }

    .main {
      .bio {
        height: 88%;
        width: 94%;
        padding: 16px;

        .bioParagraph {
          font-size: 18px;
          margin-bottom: 16px;
        }
      }
    }
  }
}
