@import '../../styles/colors.scss';

.header {
  display: grid;
  grid-row-gap: 4px;

  .side-a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      height: 56px;
      width: 56px;
      border-radius: 10px;
      background-color: $dark-blue;
      color: $light-red;
      font-size: 1.8rem;
    }

    .blog-title {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 12px;

      .domain {
        font-family: 'Source Code Pro', monospace;
        font-size: 1rem;
        color: $grey;
      }
      .name {
        font-family: 'Trade Winds', cursive;
        font-size: 1.2rem;
        margin-left: 12px;
        color: $dark-blue;
      }
    }
  }

  .side-b {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .session-controls {
      margin-right: 32px;

      .user {
        color: $dark-blue;
        margin: 4px;
        font-size: 0.9rem;
      }
      .sign-out {
        color: $light-red;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .header {
    grid-template-columns: 49vw 49vw;

    .side-a {
      .blog-title {
        .domain {
          font-size: 1.4rem;
        }
        .name {
          font-size: 1.6rem;
        }
      }
    }

    .side-b {
      justify-content: flex-end;
    }
  }
}
