.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px;
  border-radius: 12%;
}

.container:hover,
.container:active {
  background-color: rgb(22, 20, 20, 0.38);
}

.text {
  color: white;
  font-family: 'Source Code Pro';
  font-size: 16px;
  margin-top: 14px;
}

@media only screen and (min-width: 600px) {
  .text {
    font-size: 20px;
    margin-top: 18px;
  }
}

@media only screen and (min-width: 900px) {
  .text {
    font-size: 22px;
    margin-top: 22px;
  }
}

@media only screen and (min-width: 1100px) {
  .text {
    font-size: 24px;
    margin-top: 24px;
  }
}
