// .loading {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 100vh;
// }

.blog {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 14vh auto;
  grid-template-areas:
    "header"
    "main";

  header {
    grid-area: header;
    padding: 1vh;
  }
  main {
    grid-area: main;
  }
}

@media only screen and (min-width: 768px) {
  .blog {
    grid-template-columns: 98vw;
    grid-template-rows: 10vh auto;
    grid-template-areas:
      "header"
      "main";
    grid-column-gap: 1vh;
    padding: 1vh;
  }
}
